body{
    font-family: sans-serif;
}
.wrapper {
    max-width: 1230px;
    margin: 0 auto;
    background-color: rgb(162, 201, 199);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.block__pop-up {
    padding: 30px 0px 30px 25px;
    background-color: rgb(121, 184, 226);
    margin-bottom: 15px;
}

.pop-up_button {
    color: #fff;
    padding: 10px 10px;
    background-color: rgb(157, 200, 235);
    border-radius: 5px;
}
.pop-up_button:hover{
    background-color: rgb(75, 164, 238);
    transition: all 0.3s ease 0s;
}

.block__green {
    background-color: rgb(167, 228, 25);
    margin-bottom: 15px;

}

.block__green__items {
    display: flex;
    margin-bottom: 15px;
}

.block__green_item {
    background-color: rgb(23, 233, 146);
    font-size: 24px;
    color: rgb(255, 255, 255);
    padding: 40px 0px 40px 0px;
    text-align: center;
}

.block__green_item_1 {
    flex: 0 1 37.5%;
    margin-right: 15px;
}

.block__green_item_2 {
    flex: 0 1 50%;
}

.block__green_item_3 {
    flex: 0 1 12.5%;
    margin-left: 15px;

}

.block__green_item_4 {
    flex: 0 1 87.5%;
    margin-right: 15px;
}

.block__green_item_5 {
    flex: 0 1 12.5%;
}

.block__blue {
    background-color: rgb(143, 168, 196);
    display: flex;
    padding: 20px;
    margin-bottom: 80px;
}

.block__blue__item {
    background-color: rgb(61, 142, 248);    
    flex: 0 1 25%;
    padding: 10%;    
}
.block__blue__item:not(:last-child){
    margin-right: 20px;
}
.block__purple{    
    background-color: rgb(121, 184, 226);
    padding-bottom: 80px;
}

.pop-up {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}
.pop-up:target{
    opacity: 1;
    visibility: visible;
}
.pop-up__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.pop-up__content {
    background-color: #fff;   
    position: relative;
}
.pop-up__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    background-color: rgb(121, 184, 226);
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    
}
.pop-up__close:hover{
    background-color: rgb(75, 164, 238);
    transition: all 0.3s ease 0s;
}
.pop-up__title {
    padding: 100px;
    font-size: 24px;
}